<!DOCTYPE html>
<html class="overflow-y-scroll" lang="en">
  <head>
        <link rel="stylesheet" href="{{ '/styles.css' | url }}">
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script defer src="/js/alpine.js"></script>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>The Great Big ARPG Feed</title>
  </head>
  <body>
    <div class="p-7">
    <main class="prose-sm md:prose-base lg:prose-lg prose-slate text-center">
      <h3 class="font-bold">The Great Big ARPG Feed</h3>
      <div>
      <a class="text-sm hover:underline" href="{{ 'feed.xml' | url }}">RSS Feed Link</a> |
      <a class="text-sm hover:underline" href="https://forms.gle/fGkxvUncwBhLS9xu9">Submit Your Site</a>
      </div>
      <div class="text-sm mt-1">
        <b>What is RSS?</b>
        <p class="!mt-0 !mb-1">RSS, or <a class="hover:underline" href="https://en.wikipedia.org/wiki/RSS">Really Simple Syndication</a>, is a way to receive updates from websites. Tired of keeping track of Discord pings for the species you're in? Use RSS and send those feeds directly into an inbox!</p>
        <p class="!mt-1">Don't know what reader to use? Try <a class="hover:underline" href="https://feeder.co">Feeder</a>, <a class="hover:underline" href="https://tt-rss.org">TT RSS</a>, or integrate it with your existing <a href="https://github.com/joethei/obsidian-rss" class="hover:underline">Obsidian notes</a> or <a href="https://ifttt.com/connect/feed/notion" class="hover:underline">Notion</a>.</p>
        </div>
    {{ content | safe }}
    </main>
    <footer class="text-xs text-center">
      put together by <a href="http://perappu.blog" class="hover:underline" >perappu</a><br>
      <a href="https://github.com/perappu/arpg-feed" class="hover:underline" >github</a>
      </footer>
    </div>
  </body>
</html>