---
layout: base
pagination:
  data: collections.feed
  size: 10
---

{% for news in pagination.items %}
  <div class="flex text-sm prose rounded-lg bg-white border p-3 !max-w-full text-left m-3">
    <div class="m-1 mr-3 w-1/3">
      <img src="data:image/png;base64, {{ news.screenshot }}" style="min-width:250px;"/>
    </div>
    <div class="m-1 w-2/3">
      <h4 class="!m-0">From
        <a href="http://{{ news.site }}">{{ news.origin }}</a>:</h4>
      <h3 class="!m-0">
        <a href="{{ news.url }}">{{ news.title }}</a>
      </h3>
      <p>
        <small>{{ news.date }}</small>
      </p>
      {{ news.description }}...
    </div>
  </div>
{% endfor %}

<nav aria-labelledby="pagination" class="text-sm m-auto rounded-lg bg-white border not-prose p-3">
  <ol class="text-center">
    <li class="inline">
      {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}">First</a>
        {% else %}First{% endif %}
    </li>
    -
    <li class="inline">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Back</a>
        {% else %}Back{% endif %}
    </li>
    -
    {%- for pageEntry in pagination.pages %}
      <li class="inline">
        <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
      </li>
    {%- endfor %}
    -
    <li class="inline">
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next</a>
        {% else %}Next{% endif %}
    </li>
    -
    <li class="inline">
      {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}">Last</a>
        {% else %}Last{% endif %}
    </li>
  </ol>
</nav>